<div class="container">
  <div class="filters">
    <a class="button">Heads</a>
    <a class="button">Arms</a>
    <a class="button">Torsos</a>
    <a class="button">Bases</a>
    <a class="button">All</a>
  </div>

  <ul class="product">
    <li class="product-item">
      <div class="product">
        <div class="product-details">
          <img class="product-image" [src]="geImageUrl(product)" [alt]="product.name" />
          <span class="product-name">{{product.name}}</span>
          <div class="product-info">
            <div class="name">{{product.name}}</div>
            <div class="description">{{product.description}}</div>
            <div class="category">Part Type: {{product.category}}</div>
          </div>
        </div>
        <div class="price">
          <div>
            <div>${{product.price.toFixed()}}</div>
          </div>
          <button class="button-buy">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
